*{
    background-color: rgb(245, 215, 237);
    text-align:center;}
.big{font-size: 20px;

}
img {
    max-width: 100%;
    height: auto;
    }
iframe {
    max-width: 100%;
    height: auto;
    }
.color{font-size: 20px;
    color: blueviolet;
    font-style: italic;
    }
.left{font-size: 20px;
        
        font-style: oblique;
        text-align:left
    
        }
.table{background-color: white;
            }
.papa{padding: 20px; background: #fff; -webkit-box-shadow: 0 0 50px #f98289 inset, 5px 5px 0 #cecece; -moz-box-shadow: 0 0 50px #f98289 inset, 5px 5px 0 #cecece; box-shadow: 0 0 50px #f98289 inset, 5px 5px 0 #cecece; font-size: 100%;

}
